@"

AIRFLOW_UID=

OPENWEATHER_API_KEY=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=
S3_BUCKET_NAME=
_PIP_ADDITIONAL_REQUIREMENTS=requests pandas boto3 psycopg2-binary apache-airflow[statsd] pyarrow

ATHENA_DATABASE=
ATHENA_OUTPUT_LOCATION=
ATHENA_WORKGROUP=
GLUE_CRAWLER_NAME=

REDSHIFT_HOST=
REDSHIFT_PORT=
REDSHIFT_DB=
REDSHIFT_USER=
REDSHIFT_PASSWORD=
REDSHIFT_IAM_ROLE_ARN=


"@ | Set-Content .env.example